<main class="px-[10%] relative">
    <div class="mt-3 relative">
      <input 
        type="text" 
        [(ngModel)]="selectedHandset" 
        (input)="onSearch()" 
        placeholder="ค้นหา Handset"
        class="w-full h-12 py-2 px-4 border border-gray-400 rounded-lg"
      />
      
      <ul 
        *ngIf="showDropdown" 
        class="absolute w-full bg-white border border-gray-300 rounded-lg shadow-md mt-1 max-h-60 overflow-y-auto"
      >
        <li 
          *ngFor="let handset of handsets" 
          (click)="selectHandset(handset)"
          class="p-2 hover:bg-gray-200 cursor-pointer"
        >
          {{ handset.commercialName }}
        </li>
      </ul>
    </div>
  </main>
  